{% extends 'admin/base.html.twig' %}

{% block title %}Bookings administration{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="my-5">Bookings Administration</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Booker</th>
                <th>Related Ad</th>
                <th>Duration</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            {% set booker = booking.booker %}           
                <tr>
                    <td>{{ booking.id }}</td>
                    <td>{{ booking.createdAt|date('d/m/Y H:i') }}</td>
                    <td>
                        <img src="{{ booker.avatar }}" alt="{{ booker.fullName }}'s avatar" class="avatar avatar-mini mr-2">
                        {{ booker.fullName }}
                    </td>
                    <td>{{ booking.ad.title }}</td>
                    <td>{{ booking.duration }} night(s)</td>
                    <td>{{ booking.amount|number_format(2, ',', ' ') }} &euro;</td>
                    <td>
                        <a href="{{ path('admin_bookings_edit', {'id': booking.id}) }}" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                        <a href="{{ path('admin_bookings_delete', {'id': booking.id}) }}" class="btn btn-danger"><i class="fas fa-times "></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
