{% set url = path('ads_show', {'slug': ad.slug}) %}
<div class="col-md-4 col-sm-6">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">
        {{ ad.rooms }} rooms, <strong>{{ ad.price }}&euro; / night</strong><br>
        <small>No mark yet :c</small>
        </div>
        <a href="{{ url }}">
            <img src="{{ ad.coverImage }}" alt="Room picture" style="width: 100%; display: block">
        </a>

        <div class="card-body">
        <h4 class="card-title">
            <a href="{{ url }}">{{ ad.title }}</a>
        </h4>
        <p class="card-text">
            {{ ad.introduction }}
        </p>
        <a href="{{ url }}" class="btn btn-secondary">Learn more</a>
        </div>
    </div>
</div>